.hotel-special-offer .container {
    text-align: center;
    display: none;
}

.hotel-special-offer .container .header {
    margin-bottom: 10px;
}

.hotel-special-offer .container .header div{
    border: 1px solid #19563d;
    background-color: #19563d;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.hotel-special-offer .container .block {
    border: 1px solid #19563d;
}

.hotel-special-offer .container .block .image,
.hotel-special-offer .container .block .info{
    padding: 10px;
}

.hotel-special-offer .container .block .info .hotel,
.hotel-special-offer .container .block .info .room,
.hotel-special-offer .container .block .info .cost-rate {
    color: #19563d;
}

.hotel-special-offer .container .block .info .cost-rate {
    margin-bottom: 10px;
}

.hotel-special-offer .container .block .arrival fieldset,
.hotel-special-offer .container .block .departure fieldset{
    width: 110px;
    height: 90px;
    color: gray;
    border: 2px solid #19563d;
    margin-bottom: 0;
    margin-left: 10px;
}

.hotel-special-offer .container .block .month{
    font-size: 0.7rem;
    margin: 0;
}

.hotel-special-offer .container .block .day{
    font-size: 1.5rem;
    margin: 0;
}

.hotel-special-offer .container .block .book {
    text-align: left;
    vertical-align: bottom;
}

.hotel-special-offer .container .block .book,
.hotel-special-offer .container .block .arrival,
.hotel-special-offer .container .block .departure
{
    display: table-cell;
}

.hotel-special-offer .container .block .book a {
    color: grey;
    box-shadow: inset 0 -1px 0 grey;
}

.hotel-special-offer .container .block .table {
    display: table;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-12 {width: 100%;}

.margin-0 {
    margin: 0;
}



.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    display: none;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #19563d;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}